﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to job search</title>
  
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="page">

        
        @RenderBody()
        <br />

    </div>
    
      
       

  
</body>
</html>
