﻿@using MyCustomApp.Helpers;
@using MyCustomApp.Models;
@model System.Web.Mvc.ViewUserControl<PaginationInfo>
   

    <div>
        Results @Model.Model.FirstItemIndex  - @Model.Model.LastItemIndex of <b>@Model.Model.TotalItemCount </b>
    </div>

    <div class="pagination">

        @if (Model.Model.HasPrevPage) { 
        <a href="@Model.Model.PrevPageUrl">&laquo; Previous</a>
         } else { 
        <span class="disabledPage">&laquo; Previous</span>
         }

        @foreach (var p in Model.Model.Pages) {
            if (p == Model.Model.CurrentPage) { 
        <span class="currentPage">@p</span>
         } else {
        <a href="@Model.Model.PageUrlFor(p)">@p</a>
        }
         }

        @if (Model.Model.HasNextPage) { 
        <a href="@Model.Model.NextPageUrl">Next &raquo;</a>
         } else {
        <span class="disabledPage">Next &raquo;</span>
        }

    </div>
