﻿@using MyCustomApp.Helpers;
@using MyCustomApp.Models;
@{
    ViewBag.Title = "Home Page";
    @model MyCustomApp.Models.ProductView
    SearchParameters sp = new SearchParameters();
    PaginationInfo pi = new PaginationInfo();
    int TotalItemCount = 0;
}





<div class="page">
    <div id="main">
        <div id="header">
            <div id="title">
                <h1><a href="/" style="color:black;">Job Search 13</a></h1>
            </div>
        </div>
        <form method="get" action="@Url.Action("Index")">
            @Html.TextBox("q", Model.Search.FreeSearch)
            @{
                TotalItemCount = Model.TotalCount;
                string pageurl = @Url.SetParameter("page", "!0");
                int currentPage = Model.Search.PageIndex;
                int FistItemIndex = Model.Search.FirstItemIndex;

                pi.getTotalCount(Model.TotalCount, Model.Search.PageSize, pageurl, currentPage);
            }
            <input type="submit" value="Search" />

            @if (!string.IsNullOrEmpty(Model.DidYouMean))
            {
                <p>Did you mean</p> <strong><em><a href="@Url.ForQuery(Model.DidYouMean)">@Model.DidYouMean</a></em></strong>
            }
            @if (Model.QueryError)
            {
                <span class="error">Invalid query</span>
            }
        </form>
        <div class="leftColumn">
            @foreach (var f in Model.Search.Facets)
            {
                <ul>
                    <li>
                        @if (f.Key == "cat")
                        {
                            @Html.Raw("Categeory")
                        }
                        else
                        {
                            @Html.Raw("Type")
                        }

                        <ul>
                            <li><a class="removeFacet" href="@Url.RemoveFacet(f.Key)">@f.Value</a></li>
                        </ul>
                    </li>
                </ul>
            }
            @foreach (var f in Model.Facets)
            {
                <ul>
                    <li>
                        @if (f.Key == "cat")
                        {
                            @Html.Raw("Categeory")
                        }
                        else
                        {
                            @Html.Raw("Type")
                        }
                        @foreach (var fv in f.Value)
                        {
                            <ul>
                                <li><a href="@Url.SetFacet(f.Key, fv.Key)">@fv.Key</a> <span>@fv.Value</span> </li>
                            </ul>
                        }


                    </li>
                </ul>
            }
        </div>
        <div class="rightColumn">

            <div>
                Sort by:
                @if (string.IsNullOrEmpty(Model.Search.Sort))
                {
                    <strong>Best match</strong>
                }
                else
                {
                    <a href="@Url.RemoveParameters("sort")"> Best match </a>
                }
                |
                @*@if (Model.Search.Sort == "alphaNameSort") {
                <strong>Name</strong>
                 } else {
                <a href="@Url.SetParameter("sort", "alphaNameSort" )">Name</a>
                 }*@

                @if (Model.Search.Sort == "salary")
                {
                    <strong>Salary</strong>
                }
                else
                {
                    <a href="@Url.SetParameter("sort", "salary" )">Salary</a>
                }
                |
                @if (Model.Search.Sort.NotNullAnd(s => s.StartsWith("random")))
                {
                    <strong>Random</strong>
                }
                else
                {
                    <a href="@Url.SetParameter("sort", "random_" + Html.RandomNumber())">Random</a>
                }
            </div>

            @foreach (var p in Model.Products)
            {
                if (p.Name != null)
                {
                    <div class="product">
                        <div class="productName">
                            @foreach (string getName in p.Name)
                            {
                                @Html.Raw(getName);
                            }
                        </div>
                        <br />
                        Salary: <span class="price">@p.Salary.ToString("C")</span><br /><br />
                        Category:
                        @foreach (var f in p.Categories)
                        {

                            <a href="@Url.SetFacet("cat", f)">@f</a>
                        }

                        <input type="submit" style="float:right;background-color:lightgray" value="Apply Now" />
                    </div>
                }
                //TotalItemCount = Model.TotalCount;
                //string pageurl = @Url.SetParameter("page", "!0");
                //int currentPage = Model.Search.PageIndex;
                //pi.getTotalCount(Model.TotalCount, Model.Search.LastItemIndex, pageurl, currentPage);
            }


            @{ sp.getCurrentPage(currentPage);}
            <div>
                <span style="margin-left:20px;">  <b>@Model.TotalCount </b>jobs found</span>
            </div>
            <div class="pagination">

                @if (pi.HasPrevPage)
                {
                    <a href="@pi.PrevPageUrl">&laquo; Previous</a>
                }
                else
                {
                    <span class="disabledPage">&laquo; Previous</span>
                }

                @foreach (var p in pi.Pages)
                {
                    if (p == pi.CurrentPage)
                    {
                        <span class="currentPage">@p</span>
                    }
                    else
                    {
                        <a href="@pi.PageUrlFor(p)">@p</a>
                    }
                }

                @if (pi.HasNextPage)
                {
                    <a href="@pi.NextPageUrl">Next &raquo;</a>
                }
                else
                {
                    <span class="disabledPage">Next &raquo;</span>
                }

            </div>

            <div class="pagesize">
                @foreach (var pageSize in sp.list)
                {
                    if (pageSize == Model.Search.PageSize)
                    {
                        <span>@Html.Raw(pageSize)</span>
                    }
                    else
                    {
                        <a href="@Url.SetParameters(new {pagesize =pageSize, page = 1})"> @pageSize</a>
                    }

                }
            </div>
        </div>
    </div>

</div>




